th {
    width: 45%;
}
td{
     display: table-cell;
    text-align: center;

}
table {
    border: 1px solid black;
    background-color: #dbe1f1;
    border-collapse: collapse;
    width: 100%;
}
.actions{
    width: 10% !important; 
}